<div>
    <div>
        <div class="head">

            <span style="color:rgb(183, 187, 190); margin-left: 87px;" routerLink="/dashboard/getallbook">Home/</span>
            <span>My cart ({{cartArray?.length}})<p id="book-count">
                </p>
            </span>
            <span class="count"></span>
        </div>
        <div>
            <mat-card class="card">
                <div>

                    <div>
                        <h2 class="title">My Cart({{cartArray?.length}})</h2>
                    </div>
                    <div >
                        <div class="ngfor" *ngFor="let cartie of cartArray">
                            <div class="imgNameAndAuther">
                                <img class="img" [src]="cartie.bookmodel.bookImage">
                                <div class="all">
                                    <div class="title">
                                     <p class="title">{{cartie.bookmodel.bookName}}</p>
                                    </div>
                                    <div class="paragraph">
                                        <p id="paragraph">{{cartie.bookmodel.authorName}}</p>
                                    </div>
                                    <div class="price">
                                        <div class="actualprice">
                                         Rs.{{cartie.bookmodel.originalPrice * cartie.bookQuantity}}
                                        </div>
                                        <div class="discountprice">
                                           Rs.{{cartie.bookmodel.discountPrice * cartie.bookQuantity}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>

                                <div class="numbers">
                                    <img class="circle" src="../../../assets/shoping/plus.png">
                                    <input class="inputBox" [value]="cartie.bookQuantity"/>
                                    <img class="circle" src="../../../assets/shoping/minus.png">
                                    <button class="removebutton" (click)="removeBookfromCart(cartie.cartId)" >Remove</button>
                                </div>
                            </div>
                        </div>
                        <div class="placeorder">
                            <button class="buttOrder">
                                PLACE ORDER
                            </button>
                        </div>
                    </div>

                </div>
            </mat-card>

            <mat-card class="adress">
                <p style="margin-left: 10px;
              font-size: 17px;
              font-weight: 500;"> Adress Details</p>
            </mat-card>
            <mat-card class="order">
                <p style="margin-left: 10px;
                font-size: 17px;
                font-weight: 500;"> Book Details</p>
            </mat-card>
        </div>
    </div>
</div>