.container {
    height: 100%;
    width: 100%;

}

.tool {
    background-color: brown;
    display: flex;
   
}

#text {
    color: white;
    padding-left: 5px;


}


.cart{background-color: brown;
color: white;
opacity: 1;
border: none;
margin-left: 50px;
}
.profile{
    background-color: brown;
    color: white;
    opacity: 1;
    border: none; 
    margin-left: 2px;
   
}
.icons{
    width:100px; height: 60px; padding-top: 10px; margin-left: 150px;
}
.person{
    height:18px ; margin-left: 4px; color: white;  
}
.profile{
    font-size: 12px; color: white; padding-right: 20px;
}
.iconscart{
    width:100px; height: 60px; padding-top: 10px;
}
.footer{
    display: flex;
    height: 40px;
    align-items:center;
    color:white;
     bottom: 0;
    padding-left:170px ;
    background-color: #2E1D1E;
    position:relative;
   width: 100%;
}   

.wishlistIcon {
    color: brown;
}

.wishlistbutton {
    margin-top: -20px;
}
