<div class="mainContainer">
    <mat-card class="Block1">

        <div>
            <img class="img" src="../../../assets/shoping/onlineshopping.png" alt="">
        </div>

        <div class="TextForBook">
            ONLINE BOOK SHOPPING
        </div>
    </mat-card>

    <mat-card class="Block2">
        <div fxLayout="row">
            <button type="button" class="login" >LOGIN</button>
            <button type="button" class="signup" routerLink="/signup">SIGNUP</button>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
            <div class="Form">



                <div fxLayout="column" style="height:80px">

                    <div style="margin-bottom: 22px;">
                        <mat-label>EmailId</mat-label>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="" formControlName="Email">
                    </mat-form-field>
                </div>



                <div fxLayout="column">

                    <div style="margin-bottom: 22px;">
                        <mat-label>Password</mat-label>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="" formControlName="Password">
                        <button class="forgot" mat-button class="button" routerLink="/forgotpassword">Forget Password?</button>
                    </mat-form-field>

                    
                      
                  

                </div>


                <button class="loginButton">Login</button>

                <div class="or" fxLayoutAlign="center">
                    <h2>-------OR-------</h2>
                </div>

                <div>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <button class="facebookbutton" mat-flat-button color="primary">Facebook</button>
                        <button class="googlebutton" mat-flat-button>Google</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
</div>