.Container {
    background-color: rgb(95, 92, 92);
    width: 100%;
    height: 100%;
}

.Block1 {
    background-color: whitesmoke;
    height: 60%;
    width: 30%;
    left: 26%;
    top: 23%;
    border-radius: 20px;
    display: flex;
    padding: 1px;

    box-shadow: 5px 5px 5px 5px;
    
}

.img {
    
    height: 260px;
    width: 275px;
    border-radius: 130px;
    margin-left: 48px;
    margin-top: 73px;
}


.TextForBook {
    font-size: 20px;
    color: black;
    font-weight: 500;

    margin-top: 357px;
    display: flex;
    position: relative;
    right: 244px;
    white-space: nowrap;



}

.Block2 {
   
    background-color: white;
    height: 460px;
    width: 360px;
    margin-left: 50%;
    top: -46%;
    padding: 12px;
    margin-bottom: 20PX;
    margin-top: 20px;
    box-shadow: 5px 5px 5px 5px;
}
.login {

    margin-top: 15px;

    position: relative;
    left: 26px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(141, 139, 139);

    border: 0;
    background-color: white;

}

.form-box{
    width: 3px;
    margin: 1px;
    position: relative;
    margin-left: 73px;
    border-radius: 3px;
}
#Indicator{
    margin-right: 154px;
    width: 10%;
    border: none;
    background: #B3290B;
    height: 3px;
    margin-top: 6px;
    transform: translateX(100px);
}   
.signup {

    margin-top: -24px;
    margin-bottom: -13px;
    position: relative;
    left: 165px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: gray;
    cursor: pointer;
    border: 0;
    background-color: white;

    
}

.form {
    right: 35%;
    top: 10%;
    width: 100%;
    margin-left: 28px;
    margin-top: 20px;
}
.mat-form-field {

    width: 295px;
}
.input-field{
    width: 105%;
    padding: 0px 0;
    height: 30px;
 }
.email {
    height: 18%;
}

.password {

    height: 18%;
}

.number {

    height: 18%;
}

.signupbutton {
    height:5px;
    width: 295px;
    padding: 5%;
    background-color: brown;
    border-color: #a52a2a;
    color: white;
    position: relative;
    line-height: 5px;
    border-radius: 3px;
}
::ng-deep.mat-form-field-flex {
    padding: 0 -1.25em 0 .75em;
    margin-top: -1.25em;
    position: relative;
}
ng::deep.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
}
::ng-deep.mat-form-field-infix {
    
    height: 5px;
}