<div class="maincontainer" fxLayoutAlign="center center">

    <mat-toolbar class="tooling" fxLayout="row" fxLayoutAlign="space-between center">
        <div style="background-color: brown;" fxLayout="row" fxLayoutGap="2%">
            <img src="../../../assets/shoping/education.svg" />
            <a id="text">BookStore</a>
        </div>

    </mat-toolbar>
    <h4 id="heading">Forgot your Password?</h4>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

        <div class="forgotpass" fxLayoutAlign="center center">

            <div class="forgot">
                <p id="content">Enter an email address and we will send a link to reset your password</p>
                <div>
                    <mat-label>Email</mat-label>
                </div>
                <div>
                    <mat-form-field appearance="outline" style="width: 96%;">
                        <input type="text" formControlName="Email" class="bookstore" matInput placeholder="">
                        <mat-error>Enter an email address</mat-error>
                    </mat-form-field>
                </div>
                <button mat-button class="primary">Reset Password</button>
                <div>
                    <button mat-button class="button2" routerLink="/signup">Create an Account</button>
                </div>
            </div>

        </div>
    </form>
</div>